.touch-form {
  border-radius: 3px;
  padding: 20px;
  margin: 0 auto;

  label,
  button {
    font-weight: 500;
  }

  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #6c63ff;
    padding: 0.8rem 1rem;
    border-radius: 7px;
    transition: 0.3s;
    position: relative;
    margin-bottom: 1rem;

    &.placeholder {
      color: #a7a7a7;
    }
  }
}
