.waves-divider {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/background-waves.webp);
  height: 200px;
  width: 100%;
}

.waves-footer {
  width: 100%;
  background-color: #30ceaf;
  color: white;
  padding: 20 0px 100px;
}
